@media screen and (max-width: 1199px) {
    .project-img {
        height: 320px;
    }
}

@media screen and (max-width: 991px) {
    .project-img {
        height: 360px;
    }
}

@media screen and (max-width: 767px) {
    .project-img {
        height: 540px;
    }
}

@media screen and (max-width: 576px) {

    #navbarCollapse a,
    .desktop-nav a {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .project-img {
        height: 500px;
    }
}

@media screen and (max-width: 450px) {
    .project-img {
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    .project-img {
        height: 400px;
    }
}

@media screen and (max-width: 350px) {
    .project-img {
        height: 350px;
    }
}

@media screen and (max-width: 300px) {
    .project-img {
        height: 300px;
    }
}