$signature-color: #E95959;
$secondary-color : #333;

.color-signature {
    color: $signature-color !important;
}

.color-secondary {
    color: $secondary-color !important;
}

.hover-signature:hover,
.hover-signature:focus {
    color: $signature-color !important;
}